<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gavin.allsensor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gavin.allsensor.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gavin.allsensor.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.ListViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Accelerometer"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
         <activity
            android:name="com.gavin.allsensor.AmbientTemperature"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Magnetic"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Gyroscope"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Light"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Pressure"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Temperature"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Proximity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Gravity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.LinearAccelerometer"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.gavin.allsensor.Rotation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>